* {
    font-family: Helvetica, Arial, sans-serif;
}
.button
 {
    background-color: #fff;
    border: 1px solid black;
    margin: 2em auto;
    display: block;
    transition: all .4s ease-in-out;

}
.tweet {
    width: 50px;
    text-align: center;
    padding: .5em;

}
.tweet a {
    text-decoration: none;
    color: black;
}
#quote-content {
   margin: 1em auto;
   padding: 10px;
   max-width: 300px;
   height: auto;
   border: 1px solid black;
}
#quote,
#author {
    text-align: justify;
}


.button:hover,
a:hover {
    background-color: black;
    color: #fff;
    transition: all .4s ease-in-out;
}