* {
    font-family: Helvetica, Arial, sans-serif;
}

section {
    margin: 1em auto;
    max-width: 300px;
    height: auto;
}

#buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    color: white;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    transition: all .4s ease-in-out;
    width: 100px;
    text-align: center;
    padding: 1em;
    font-size: .8em;
}

.button a {
    text-decoration: none;
    color: white;
}
#quote-content {
    border: 1px solid black;
    padding: 10px;
}
#quote,
#author {
    text-align: justify;
}


.button:hover,
.button:hover a {
    background-color: white;
    color: black;
    transition: all .4s ease-in-out;
}